---
layout: default
---

<div class="home">
    {{ content }}
    <ul class="post-list">
        {%- for post in site.posts reversed -%}
        <li>
            <a class="post-link" href="{{ post.url | relative_url }}"> {{ post.title | escape }} </a>
        </li>
        {%- endfor -%}
    </ul>

    <!-- If I want to use categories VVV-->

    <!-- <h2 class="page-heading">Newest</h1>
    <ul class="post-list">
        {%- for post in site.posts reversed -%}
        {%- unless post.categories contains "older" -%}
        <li>
            <a class="post-link" href="{{ post.url | relative_url }}"> {{ post.title | escape }} </a>
        </li>
        {%- endunless -%}
        {%- endfor -%}
    </ul>
    
    <h2 class="page-heading">Older</h2>
    <ul class="post-list">
        {%- for post in site.posts reversed -%}
        {%- if post.categories contains "older" -%}
        <li>
            <a class="post-link" href="{{ post.url | relative_url }}"> {{ post.title | escape }} </a>
        </li>
        {%- endif -%}
        {%- endfor -%}
    </ul> -->
</div>
